/* Custom scrollbar for better aesthetics */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: white; /* Color de respaldo si --customNegro no está definido */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: white; /* Color of the scrollbar thumb */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: grey;
}

/* Fallback for Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: grey black;
}

/* Custom background image - defined directly in the component for easier maintenance */
.custom-bg-image {
  background-image: url('../../../assets/images/img_4.png');
}

/* Loader Styles */
.loader {
  border: 4px solid white;
  border-top: 4px solid red; /* Rojo */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* General input/select/textarea focus and hover states using custom colors */
.custom-input:hover,
.custom-textarea:hover,
.custom-select:hover {
  background-color: lightgrey; /* Lighter gray on hover */
}

.custom-input:focus,
.custom-textarea:focus,
.custom-select:focus {
  border-color: red; /* Red border on focus */
  box-shadow: 0 0 0 2px rgba(191, 13, 34, 0.5); /* Red ring on focus */
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2D2D2D; /* Updated to customNegro directly */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #7D7D7D; /* Using customGrisMedio as scroll thumb color */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #5A5A5A; /* Darker grey on hover */
}

/* Fallback for Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #7D7D7D #2D2D2D; /* thumb color and track color */
}

/* Custom background image - defined directly in the component for easier maintenance */
.custom-bg-image {
  background-image: url('../../../assets/images/img_4.png');
}

/* Loader Styles */
.loader {
  border: 4px solid #F0F0F0; /* customBlanco */
  border-top: 4px solid #BF0D22; /* customRed */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* General input/select/textarea focus and hover states using custom colors */
.custom-input:hover,
.custom-textarea:hover,
.custom-select:hover {
  background-color: #E0E0E0; /* A lighter shade for hover */
}

.custom-input:focus,
.custom-textarea:focus,
.custom-select:focus {
  border-color: #BF0D22; /* customRed border on focus */
  box-shadow: 0 0 0 2px rgba(191, 13, 34, 0.5); /* customRed ring on focus */
}
