<div class="min-h-screen bg-cover bg-center flex items-center justify-center" style="background-image: url('../../../assets/images/fondo_2.png');">
  <div class="bg-black bg-opacity-80 p-8 rounded-3xl max-w-md w-full shadow-lg">
    <h2 class=" font-medula  text-white text-5xl  mb-6 text-center">Registro, ¿quién eres?</h2>
    <hr class="border-gray-600 mb-6">

    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
      <!-- Nombre de usuario -->
      <div class="mb-4">
        <input
          type="text"
          placeholder="Nombre de usuario"
          class="w-full p-3 rounded-full bg-gray-200 text-gray-800 placeholder-gray-500 focus:outline-none hover:bg-gray-300 focus:ring-2 focus:ring-gray-500 transition duration-300"
          formControlName="nombreUsuario"
        />
        <div *ngIf="registroForm.get('nombreUsuario')?.touched && registroForm.get('nombreUsuario')?.hasError('required')" class="text-red-500 text-sm">
          El nombre de usuario es obligatorio.
        </div>
        <div *ngIf="registroForm.get('nombreUsuario')?.touched && registroForm.get('nombreUsuario')?.hasError('minlength')" class="text-red-500 text-sm">
          El nombre de usuario debe tener al menos 3 caracteres.
        </div>
        <div *ngIf="registroForm.get('nombreUsuario')?.touched && registroForm.get('nombreUsuario')?.hasError('maxlength')" class="text-red-500 text-sm">
          El nombre de usuario no puede tener más de 20 caracteres.
        </div>
        <div *ngIf="registroForm.get('nombreUsuario')?.touched && registroForm.get('nombreUsuario')?.hasError('usernameTaken')" class="text-red-500 text-sm">
          El nombre de usuario ya está en uso.
        </div>



      </div>

      <!-- Email -->
      <div class="mb-4">
        <input
          type="email"
          placeholder="Correo electrónico"
          class="w-full p-3 rounded-full bg-gray-200 text-gray-800 placeholder-gray-500 focus:outline-none hover:bg-gray-300 focus:ring-2 focus:ring-gray-500 transition duration-300"
          formControlName="email"

        />
        <div *ngIf="registroForm.get('email')?.touched && registroForm.get('email')?.hasError('required')" class="text-red-500 text-sm">
          El correo electrónico es obligatorio.
        </div>

        <div *ngIf="registroForm.get('email')?.touched && (registroForm.get('email')?.hasError('email') || registroForm.get('email')?.hasError('pattern'))" class="text-red-500 text-sm">
          El correo electrónico no es válido.
        </div>
        <div *ngIf="registroForm.get('email')?.touched && registroForm.get('email')?.hasError('emailTaken')" class="text-red-500 text-sm">
          El correo electrónico ya está en uso.
        </div>
      </div>

      <!-- Fecha de nacimiento -->
      <div class="mb-4">
        <input
          type="date"
          placeholder="Fecha de nacimiento"
          class="w-full p-3 rounded-full bg-gray-200 text-gray-800 placeholder-gray-500 focus:outline-none hover:bg-gray-300 focus:ring-2 focus:ring-gray-500 transition duration-300"
          formControlName="fechaNacimiento"

        />
        <div *ngIf="registroForm.get('fechaNacimiento')?.touched && registroForm.get('fechaNacimiento')?.hasError('required')" class="text-red-500 text-sm">
          La fecha de nacimiento es obligatoria.
        </div>
        <div *ngIf="registroForm.get('fechaNacimiento')?.touched && registroForm.get('fechaNacimiento')?.hasError('minDate')" class="text-red-500 text-sm">
          Debes ser mayor de edad.
        </div>

      </div>

      <!-- Contraseña -->
      <div class="mb-4">
        <input
          type="password"
          placeholder="Contraseña"
          class="w-full p-3 rounded-full bg-gray-200 text-gray-800 placeholder-gray-500 focus:outline-none hover:bg-gray-300 focus:ring-2 focus:ring-gray-500 transition duration-300"
          formControlName="contrasena"

        />
        <div *ngIf="registroForm.get('contrasena')?.touched && registroForm.get('contrasena')?.hasError('required')" class="text-red-500 text-sm">
          La contraseña es obligatoria.
        </div>
        <div *ngIf="registroForm.get('contrasena')?.touched && registroForm.get('contrasena')?.hasError('minlength')" class="text-red-500 text-sm">
          La contraseña debe tener al menos 6 caracteres, algún número, carácter especial y mayúscula.
        </div>

      </div>

      <!-- Repetir contraseña -->
      <div class="mb-4">
        <input
          type="password"
          placeholder="Repetir contraseña"
          class="w-full p-3 rounded-full bg-gray-200 text-gray-800 placeholder-gray-500 focus:outline-none hover:bg-gray-300 focus:ring-2 focus:ring-gray-500 transition duration-300"
          formControlName="repetirContrasena"

        />
        <div *ngIf="registroForm.get('repetirContrasena')?.touched && registroForm.get('repetirContrasena')?.hasError('required')" class="text-red-500 text-sm">
          Debes repetir la contraseña.
        </div>
        <div *ngIf="registroForm.get('repetirContrasena')?.touched && registroForm.get('repetirContrasena')?.hasError('mustMatch')" class="text-red-500 text-sm">
          Las contraseñas no coinciden.
        </div>
      </div>

      <!-- Selección de rol -->
      <div class="mb-4">
        <select
          class="bg-gray-200 text-gray-800 rounded-full p-3 focus:outline-none hover:bg-gray-300 focus:ring-2 focus:ring-gray-500 transition duration-300"
          formControlName="rol"

        >
          <option disabled>---- Elige rol -----</option>
          <option value="ARTISTA">Artista</option>
          <option value="PROMOTOR">Promotor</option>
        </select>
        <div *ngIf="registroForm.get('rol')?.touched && registroForm.get('rol')?.hasError('required')" class="text-red-500 text-sm">
          El rol es obligatorio.
        </div>

      </div>

      <!-- Términos y condiciones -->
      <div class="flex items-center justify-between mb-6 gap-4">
        <label class="flex items-center text-white text-sm">
          <input
            type="checkbox"
            class="mr-2 600"
            formControlName="terminos"

          />
          Acepto los términos y condiciones de uso
        </label>
        <div *ngIf="(registroForm.get('terminos')?.hasError('requiredTrue') && (registroForm.get('terminos')?.touched || submitted))" class="text-red-500 text-sm">          Debes aceptar los términos y condiciones.
        </div>
      </div>

      <!-- Botón de registro -->
      <button
        type="submit"
        class="w-full bg-customGrisOscurso hover:bg-gray-500 text-white py-3 rounded-full text-lg font-semibold transition duration-300"
        [disabled]="loading"

      >
        {{ loading ? 'Registrando...' : 'Registrarse' }}
      </button>

      <div *ngIf="loading" class="flex justify-center items-center mt-2">
        <svg class="animate-spin h-5 w-5 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v8z"></path>
        </svg>
        <span class="ml-2 text-gray-600">Cargando...</span>
      </div>
      <div class="text-center mt-4">
        <a routerLink="/auth/login" class="text-gray-300 hover:text-white hover:underline text-sm">
          ¿Ya tienes cuenta?
        </a>

      </div>




      <!-- Mensaje de error o éxito general -->
      <div *ngIf="mensaje && !correoEnviado" [ngClass]="{ 'text-red-500': error, 'text-green-500': !error }" class="mt-4 text-center">
        {{ mensaje }}
      </div>

    </form>

    <!-- Fondo oscuro -->
    <div *ngIf="correoEnviado" class="fixed inset-0 bg-gray-500 bg-opacity-75 flex items-center justify-center z-50">

      <!-- Modal -->
      <div class="bg-white p-8 rounded-lg shadow-lg max-w-lg w-full">

        <!-- Mensaje de éxito -->
        <div class="bg-customGrisClaro border border-customBurbundy text-customBurbundy px-6 py-4 rounded-lg shadow-lg flex items-center space-x-4 mb-4">
          <svg class="w-8 h-8 text-customGrisOscurso" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2l4-4m5 2a9 9 0 11-18 0a9 9 0 0118 0z"></path>
          </svg>
          <span class="font-semibold text-lg text-center">¡Registro exitoso! Revisa tu correo para validar tu cuenta.</span>
        </div>

        <!-- Contador de redirección -->
        <p class="text-sm text-gray-600 mb-2">Serás redirigido al login en {{ contador }} segundos...</p>

        <!-- Barra de progreso -->
        <div class="w-full bg-gray-200 rounded-full h-4 mt-2 overflow-hidden">
          <div class="bg-gray-200 rounded-full h-4 mt-2">
            <div class="bg-customRed h-4 rounded-full" [style.width.%]="progreso"></div>
          </div>
        </div>

        <!-- Botón de redirección -->
        <button (click)="router.navigate(['auth/login'])"
                class="mt-4 bg-customRed hover:bg-customBurbundy text-white font-bold py-2 px-6 rounded-full transition duration-300">
          Ir ahora al Login
        </button>

      </div>
    </div>


  </div>
</div>
