<div class="admin-container flex flex-col min-h-screen w-full" style="background-image: url('assets/images/img_2.png'); background-size: cover; background-position: center;">
  <h1 class="admin-title">Panel de Administración</h1>

  <div class="admin-tabs flex flex-wrap justify-center gap-4 p-4">
    <button class="btn-tab" (click)="navigateTo('resumen')">Resumen</button>
    <button class="btn-tab" (click)="navigateTo('salas')">Salas</button>
    <button class="btn-tab" (click)="navigateTo('usuarios')">Usuarios</button>
    <button class="btn-tab" (click)="navigateTo('eventos')">Eventos</button>
    <button class="btn-tab" (click)="navigateTo('generos')">Géneros</button>

    <!-- 👉 Nuevo botón de editar perfil -->
    <button class="bg-white hover:bg-gray-100 text-gray-800 font-bold py-3 px-8 text-l rounded-xl shadow-md transition-all duration-200 transform hover:scale-105"
            [routerLink]="['/usuario/editar']">
      <i class="fas fa-user-edit mr-2"></i> EDITAR USUARIO
    </button>  </div>

  <div class="admin-content">
    <router-outlet></router-outlet>
  </div>
</div>
