<form [formGroup]="registroForm" (ngSubmit)="onSubmit()">

  <input formControlName="nombreUsuario" placeholder="Nombre de Usuario" />
  <input formControlName="email" placeholder="Email" type="email" />
  <input formControlName="contrasena" placeholder="Contraseña" type="password" />
  <input formControlName="fechaNacimiento" placeholder="Fecha de nacimiento" type="date" />

  <select formControlName="rol">
    <option value="">Selecciona un rol</option>
    <option value="ARTISTA">Artista</option>
    <option value="PROMOTOR">Promotor</option>
  </select>

  <button type="submit">Registrarse</button>
</form>

<div *ngIf="mensaje" [style.color]="error ? 'red' : 'green'">
  {{ mensaje }}
</div>
