<div class="min-h-screen bg-cover bg-center flex items-center justify-center" style="background-image: url('../../../assets/images/img.png');">
  <div class="bg-black bg-opacity-80 p-8 rounded-3xl max-w-md w-full shadow-lg border border-white">
    <h2 class="font-medula text-white text-5xl mb-6 text-center">Actualizar Perfil</h2>
    <hr class="border-gray-600 mb-6">

    <form [formGroup]="perfilForm" (ngSubmit)="onSubmit()">
      <!-- Nuevo nombre de usuario -->
      <div class="mb-4">
        <input
          type="text"
          placeholder="Nuevo nombre de usuario"
          class="w-full p-3 rounded-full bg-gray-200 text-gray-800 placeholder-gray-500 focus:outline-none hover:bg-gray-300 focus:ring-2 focus:ring-gray-500 transition duration-300"
          formControlName="nuevoNombreUsuario"
        />
      </div>

      <!-- Nueva contraseña -->
      <div class="mb-4">
        <input
          type="password"
          placeholder="Nueva contraseña"
          class="w-full p-3 rounded-full bg-gray-200 text-gray-800 placeholder-gray-500 focus:outline-none hover:bg-gray-300 focus:ring-2 focus:ring-gray-500 transition duration-300"
          formControlName="nuevaContrasena"
        />
      </div>

      <!-- Repetir contraseña -->
      <div class="mb-4">
        <input
          type="password"
          placeholder="Repetir contraseña"
          class="w-full p-3 rounded-full bg-gray-200 text-gray-800 placeholder-gray-500 focus:outline-none hover:bg-gray-300 focus:ring-2 focus:ring-gray-500 transition duration-300"
          formControlName="repetirContrasena"
        />
      </div>

      <!-- Nuevo correo electrónico -->
      <div class="mb-4">
        <input
          type="email"
          placeholder="Nuevo correo electrónico"
          class="w-full p-3 rounded-full bg-gray-200 text-gray-800 placeholder-gray-500 focus:outline-none hover:bg-gray-300 focus:ring-2 focus:ring-gray-500 transition duration-300"
          formControlName="nuevoEmail"
        />
      </div>

      <!-- Repetir correo electrónico -->
      <div class="mb-4">
        <input
          type="email"
          placeholder="Repetir correo electrónico"
          class="w-full p-3 rounded-full bg-gray-200 text-gray-800 placeholder-gray-500 focus:outline-none hover:bg-gray-300 focus:ring-2 focus:ring-gray-500 transition duration-300"
          formControlName="repetirEmail"
        />
      </div>

      <!-- Mensajes de error/éxito -->
      <div class="mb-4 text-center" *ngIf="mensaje && mensaje.includes('no coinciden')">
        <span class="text-red-500 text-sm">{{ mensaje }}</span>
      </div>
      <div class="mb-4 text-center" *ngIf="mensaje && !mensaje.includes('no coinciden')">
        <span class="text-green-400 text-sm">{{ mensaje }}</span>
      </div>

      <!-- Botón de guardar cambios -->
      <button
        type="submit"
        [disabled]="!hasChanges"
        [class]="!hasChanges ?
          'w-full bg-gray-400 text-gray-600 py-3 rounded-full text-lg font-semibold cursor-not-allowed opacity-50' :
          'w-full bg-customGrisOscurso hover:bg-gray-500 text-white py-3 rounded-full text-lg font-semibold transition duration-300 cursor-pointer'"
      >
        Guardar cambios
      </button>

      <!-- Botón de SALIR -->
      <button
        *ngIf="esEdicion"
        type="button"
        class="w-full mt-4 bg-gray-500 hover:bg-gray-700 text-white py-3 rounded-full text-lg font-semibold transition duration-300"
        (click)="salir()"
      >
        Salir
      </button>

    </form>
  </div>
</div>
