<p-toast position="top-right"></p-toast>

<div class="min-h-screen bg-cover bg-center flex items-center justify-center" style="background-size: contain; background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url('assets/images/img.png') repeat-y center;">
  <div class="bg-black bg-opacity-80 p-8 rounded-3xl max-w-md w-full shadow-lg border border-white">

    <h2 class="font-medula text-white text-5xl mb-6 text-center">Datos Promotor</h2>
    <hr class="border-gray-600 mb-6" />

    <form [formGroup]="registroPromotorForm" (ngSubmit)="onSubmit()">

      <!-- Nombre -->
      <div class="mb-4">
        <input
          type="text"
          placeholder="Nombre del Promotor"
          formControlName="nombrePromotor"
          class="w-full p-3 rounded-full bg-gray-200 text-gray-800 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-gray-500 transition"
        />
        <div *ngIf="hasError('nombrePromotor', 'required')" class="text-red-500 text-sm">
          El nombre del promotor es obligatorio.
        </div>
      </div>

      <!-- Descripción -->
      <div class="mb-4">
        <textarea
          placeholder="Descripción"
          formControlName="descripcion"
          class="w-full p-3 rounded-lg bg-gray-200 text-gray-800 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-gray-500 transition"
        ></textarea>
        <div *ngIf="hasError('descripcion', 'required')" class="text-red-500 text-sm">
          La descripción es obligatoria.
        </div>
      </div>

      <!-- Imagen -->
      <div class="mb-4">
        <input
          type="file"
          accept="image/*"
          (change)="onFileSelected($event)"
          class="block w-full text-sm text-gray-800 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:font-semibold file:bg-gray-300 file:text-gray-800 hover:file:bg-gray-400"
        />
        <div *ngIf="!imagenArchivo && !imagenPreview && !perfilCompleto && esFormularioTocado()" class="text-red-500 text-sm">
          La imagen de perfil es obligatoria para registrarse.
        </div>
      </div>

      <!-- Preview -->
      <div *ngIf="imagenPreview" class="flex justify-center mb-4">
        <img [src]="imagenPreview" class="w-40 h-40 object-cover rounded-full shadow-lg" />
      </div>

      <!-- Botón Guardar / Registrar -->
      <button
        type="submit"
        [disabled]="
          loading ||
          registroPromotorForm.invalid ||
          (!perfilCompleto && !imagenArchivo) ||
          (perfilCompleto && !formularioModificado())
        "
        class=" btn-registrarse w-full bg-customGrisOscurso text-white py-3 rounded-full text-lg font-semibold transition hover:bg-gray-500"
        [ngClass]="{
          'cursor-not-allowed opacity-60': loading || registroPromotorForm.invalid || (!perfilCompleto && !imagenArchivo) || (perfilCompleto && !formularioModificado()),
          'cursor-pointer': !registroPromotorForm.invalid && !loading && (imagenArchivo || !perfilCompleto || formularioModificado())
        }"
      >
        {{ loading ? 'Guardando...' : (perfilCompleto ? 'Guardar Cambios' : 'Registrarse') }}
      </button>

      <!-- Botón salir -->
      <button
        *ngIf="perfilCompleto"
        type="button"
        (click)="router.navigate(['/perfil-promotores'])"
        class="w-full mt-2 bg-gray-600 hover:bg-gray-700 text-white py-3 rounded-full text-lg font-semibold transition"
      >
        Salir
      </button>
    </form>
  </div>
</div>

<!-- Modal -->
<div *ngIf="isOpen" class="fixed inset-0 p-4 flex flex-wrap justify-center items-center w-full h-full z-[1000] bg-black bg-opacity-50 overflow-auto">
  <div class="w-full max-w-lg bg-white shadow-lg rounded-lg p-6 relative">
    <svg (click)="closeModal()" xmlns="http://www.w3.org/2000/svg"
         class="w-3.5 h-3.5 cursor-pointer shrink-0 fill-gray-400 hover:fill-red-500 float-right"
         viewBox="0 0 320.591 320.591">
      <path d="M30.391 318.583a30.37 30.37 0 0 1-21.56-7.288c-11.774-11.844-11.774-30.973 0-42.817L266.643 10.665c12.246-11.459 31.462-10.822 42.921 1.424 10.362 11.074 10.966 28.095 1.414 39.875L51.647 311.295a30.366 30.366 0 0 1-21.256 7.288z" />
      <path d="M287.9 318.583a30.37 30.37 0 0 1-21.257-8.806L8.83 51.963C-2.078 39.225-.595 20.055 12.143 9.146c11.369-9.736 28.136-9.736 39.504 0l259.331 257.813c12.243 11.462 12.876 30.679 1.414 42.922-.456.487-.927.958-1.414 1.414a30.368 30.368 0 0 1-23.078 7.288z" />
    </svg>
    <div class="my-10 text-center">
      <h4 class="text-xl text-slate-900 font-semibold mt-4">¡Perfil registrado!</h4>
      <p class="text-sm text-slate-500 leading-relaxed mt-4">
        Serás redirigido automáticamente en {{ cuentaAtrasModal }} segundos...
      </p>
    </div>

    <button (click)="closeModal()" type="button"
            class="px-5 py-2.5 w-full rounded-lg text-white text-sm font-medium bg-gray-800 hover:bg-gray-700">
      Entendido
    </button>
  </div>
</div>
