<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.1/css/all.min.css">

<<!-- HERO con video -->
<div class="relative w-full h-[500px] md:h-[850px] z-10 overflow-hidden">
  <!-- Overlay semitransparente -->
  <div class="absolute inset-0 bg-black bg-opacity-10 z-10"></div>

  <!-- Video de fondo -->
  <video #heroVideo muted autoplay loop playsinline  preload="auto" class="w-full h-full object-cover">
    <source src="/assets/videos/ShowSync (4).mp4" type="video/mp4" />
  </video>

  <!-- Botón centrado -->
  <ng-container *ngIf="!usuarioLogueado">
    <button class="absolute bottom-8 left-1/2 transform -translate-x-1/2 bg-red-600 text-white font-bold px-8 py-3 rounded-lg hover:bg-red-700 transition-all duration-300 shadow-lg hover:shadow-red-500/50  hover:scale-105 border-2 border-red-500 z-20" [routerLink]="['/auth/registro']" aria-label="Regístrate Ahora">
      Regístrate Ahora
    </button>
  </ng-container>
</div>

<!-- INFO -->
<div class="text-center py-12 px-6 bg-black">
  <div class="space-y-6">
    <p class="text-xl md:text-2xl font-semibold text-gray-300">
      <i class="fas fa-bolt text-yellow-300 animate-pulse"></i>
    Regístrate y  <span class="animate-bounce text-yellow-500 font-bold">promociona </span> tu música.    </p>
    <p class="text-xl md:text-2xl font-semibold text-gray-300">

      Encuentra  <span class="animate-bounce text-yellow-400 font-bold">talento</span> para tus eventos.
      <i class="fas fa-bolt text-yellow-800 animate-pulse"></i>
    </p>
    <p class="text-xl md:text-2xl font-semibold text-gray-300">
      <i class="fas fa-bolt text-yellow-400 animate-pulse"></i>
      Descubre y sigue a tus <span class="animate-bounce text-yellow-300 font-bold">artistas favoritos</span>.
    </p>
  </div>
</div>

<!-- CATEGORÍAS -->
<div class="py-12 px-6 bg-black">
  <!-- Hero Section con animación mejorada -->
  <div class="text-center mb-20 relative">
    <div class="absolute -top-10 left-1/2 transform -translate-x-1/2 w-32 h-32 bg-red-500/20 rounded-full blur-3xl animate-pulse"></div>
    <h2 class="text-4xl md:text-6xl font-medula inline-block relative tracking-wide text-white">
      Tus oportunidades para <span class="text-red-500 animate-bounce inline-block"> brillar </span>

    </h2>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
    <div class="text-center transition-transform duration-300 hover:scale-105 hover:shadow-2xl">
      <h2 class="text-4xl md:text-6xl font-medula inline-block relative tracking-wide mb-4 ">
        <span class="text-white inline-block"> Salas </span>
      </h2>
      <ng-container *ngIf="usuarioLogueado; else accesoDenegadoSalas">
        <a [routerLink]="['/catalogo-salas']">
          <img [src]="sala?.imagen || '/assets/images/salas.png'" alt="Sala {{ sala?.nombre }}" class="w-full h-56 object-contain rounded-lg shadow-lg mb-4">
          <h1 class=" text-xl tex-white text-white">
            Espacios listos para  <strong> <em>vibrar</em> </strong> con  <span class="animate-bounce text-gray-100 font-bold"> música </span> en<span class="animate-bounce text-gray-50 font-bold"> vivo </span>
          </h1>
        </a>
      </ng-container>
      <ng-template #accesoDenegadoSalas>
        <div class="cursor-not-allowed">
          <img [src]="sala?.imagen || '/assets/images/salas.png'" alt="Sala {{ sala?.nombre }}" class="w-full h-56 object-contain rounded-lg shadow-lg mb-4">
          <h1 class=" text-xl text-white">
            Espacios listos para  <strong> <em>vibrar</em> </strong> con  <span class="animate-bounce text-gray-100 font-bold"> música </span> en<span class="animate-bounce text-gray-50 font-bold"> vivo </span>
          </h1>
        </div>
      </ng-template>
    </div>
    <div class="text-center transition-transform duration-300 hover:scale-105 hover:shadow-2xl">
      <h2 class="text-4xl md:text-6xl font-medula inline-block relative tracking-wide mb-4 ">
        <span class="text-white  inline-block"> Artistas </span>
      </h2>
      <ng-container *ngIf="usuarioLogueado; else accesoDenegadoArtistas">
        <a [routerLink]="['/catalogo-artistas']">
          <img [src]="artista?.imagenPerfil || '/assets/images/artistas.jpg'" alt="Artista {{ artista?.nombreArtista }}" class="w-full h-56 object-contain rounded-lg shadow-lg mb-4">
          <h1 class=" text-xl text-white">
            <p>Sube al <strong> escenario </strong> que te mereces.</p>
            <p><em>¡Haz crecer tu carrera musical!</em></p>
          </h1>
        </a>
      </ng-container>
      <ng-template #accesoDenegadoArtistas>
        <div class="cursor-not-allowed">
          <img [src]="artista?.imagenPerfil || '/assets/images/artistas.jpg'" alt="Artista {{ artista?.nombreArtista }}" class="w-full h-56 object-contain rounded-lg shadow-lg mb-4">
          <h1 class=" text-xl text-white">
            <p>Sube al <strong> escenario </strong> que te mereces.</p>
            <p><em>¡Haz crecer tu carrera musical!</em></p>
          </h1>
        </div>
      </ng-template>
    </div>
    <div class="text-center transition-transform duration-300 hover:scale-105 hover:shadow-2xl">
      <h2 class="text-4xl md:text-6xl font-medula inline-block relative tracking-wide mb-4 ">
        <span class="text-white  inline-block"> Promotores </span>
      </h2>
      <ng-container *ngIf="usuarioLogueado; else accesoDenegadoEventos">
        <a [routerLink]="['/busqueda-promotores']">
          <img [src]="promotor?.imagenPerfil || '/assets/images/promotores.png'" alt="Promotor {{ promotor?.nombrePromotor }}" class="w-full h-56 object-contain rounded-lg shadow-lg mb-4">
          <h1 class=" text-xl text-white">
            <p> Organiza eventos con talento garantizado, </p>
            <p> y <strong><em>crea experiencias únicas </em></strong> en salas disponibles. </p>
          </h1>
        </a>
      </ng-container>
      <ng-template #accesoDenegadoEventos>
        <div class="cursor-not-allowed">
          <img [src]="promotor?.imagenPerfil || '/assets/images/promotores.png'" alt="Promotor {{ promotor?.nombrePromotor }}" class="w-full h-56 object-contain rounded-lg shadow-lg mb-4">
          <h1 class=" text-xl text-white">
            <p> Organiza eventos con talento garantizado, </p>
            <p> y <strong><em>crea experiencias únicas </em></strong> en salas disponibles. </p>
          </h1>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<!-- EVENTOS -->
<section class="py-16 bg-gradient-to-b from-gray-900 to-black">
  <div class="container mx-auto text-center px-6">
    <h2 class="text-4xl md:text-6xl font-medula inline-block relative tracking-wide">
      <span class="text-white animate-bounce inline-block mb-2"> Nuestros Eventos </span>
    </h2>
    <div #carousel class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 max-w-7xl mx-auto justify-items-center">
      <div *ngFor="let evento of eventos.slice(0,3)" class="w-[300px] h-[400px] relative group transition-transform duration-300 hover:scale-105">
        <img [src]="evento.imagenEvento" alt="Evento {{ evento.nombreEvento }}" class="w-full h-full object-cover rounded-lg shadow-lg">
        <div class="absolute inset-0 bg-black bg-opacity-75 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-lg px-4">
          <h3 class="text-white text-xl md:text-2xl font-bold mb-2">{{ evento.nombreEvento }}</h3>
          <p class="text-white text-sm mb-4">{{ evento.descripcion }}</p>
          <ng-container *ngIf="usuarioLogueado; else accesoDenegado">
            <button (click)="verDetallesEvento(evento.id)" class="px-6 py-2 bg-red-600 text-white font-semibold rounded-lg hover:bg-red-500 transition duration-300 shadow-md">Ver detalles</button>
          </ng-container>
          <ng-template #accesoDenegado>
            <button (click)="mostrarAdvertencia()" class="px-6 py-2 bg-gray-500 text-white font-semibold rounded-lg opacity-60 cursor-not-allowed">Ver detalles</button>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="mt-10">
      <button class="flex items-center gap-2 px-6 py-3 bg-gradient-to-r from-red-600 to-red-900 text-white font-semibold rounded-xl shadow-lg
        hover:from-red-900 hover:to-red-600 transform hover:-translate-y-1 transition-all duration-300 mx-auto" [routerLink]="['/busqueda-eventos']">
        Ver más Eventos
      </button>
    </div>
  </div>
</section>


