/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Medula One';
  src: url('./assets/fonts/MedulaOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* src/styles.css */
.colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

.colored-toast .swal2-title,
.colored-toast .swal2-close,
.colored-toast .swal2-html-container {
  color: white;
}

