<div class="min-h-screen bg-cover bg-center flex items-center justify-center px-4 py-10" style="background-image: url('../../../assets/images/img.png');">
  <div class="bg-black bg-opacity-90 p-4 rounded-3xl max-w-7xl w-full shadow-lg border border-white">
    <h2 class="font-medula text-white text-5xl mb-8 text-center">Datos Artista</h2>
    <hr class="border-gray-600 mb-8">

    <p-toast></p-toast>

    <form [formGroup]="registroArtistaForm" (ngSubmit)="onSubmit()" class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-x-12 gap-y-8 px-6">
      <!-- Columna 1: nombre | urlMusic | biografía -->
      <div class="space-y-6">
        <!-- Nombre del Artista -->
        <div>
          <input
            type="text"
            placeholder="Nombre del Artista"
            class="w-full p-3 rounded-full bg-gray-200 text-gray-800 placeholder-gray-500 focus:outline-none hover:bg-gray-300 focus:ring-2 focus:ring-gray-500 transition duration-300"
            formControlName="nombreArtista"
          />
          <div *ngIf="hasError('nombreArtista', 'required')" class="text-red-500 text-sm">
            El nombre del artista es obligatorio.
          </div>
        </div>

        <!-- URL Streaming -->
        <div>
          <input
            type="text"
            placeholder="URL streaming"
            class="w-full p-3 rounded-full bg-gray-200 text-gray-800 placeholder-gray-500 focus:outline-none hover:bg-gray-300 focus:ring-2 focus:ring-gray-500 transition duration-300"
            formControlName="musicUrl"
          />
          <div *ngIf="hasError('musicUrl', 'pattern')" class="text-red-500 text-sm">
            La URL no es válida.
          </div>
        </div>

        <!-- Biografía -->
        <div>
      <textarea
        placeholder="Biografía"
        class="w-full h-40 p-3 rounded-lg bg-gray-200 text-gray-800 placeholder-gray-500 focus:outline-none hover:bg-gray-300 focus:ring-2 focus:ring-gray-500 transition duration-300"
        formControlName="biografia"
      ></textarea>
        </div>
      </div>

      <!-- Columna 2: subir foto -->
      <div class="flex flex-col items-center justify-center space-y-8 px-4">
        <label class="block text-white text-lg font-semibold ">
          Imagen de Perfil
        </label>
        <div class="bg-gray-800/50 rounded-2xl p-6 backdrop-blur-sm border border-gray-600">
          <p-fileUpload
            name="imagen"
            accept="image/*"
            maxFileSize="5242880"
            (onSelect)="subirImagen($event)"
            [auto]="true"
            chooseLabel="Seleccionar imagen"
            mode="basic"
            [disabled]="loading"
            class="w-full"
          ></p-fileUpload>

          <!-- Vista previa de imagen -->
          <div *ngIf="imagenPreview" class="mt-6 flex justify-center">
            <div class="relative">
              <img [src]="imagenPreview"
                   class="w-32 h-32 md:w-40 md:h-40 lg:w-48 lg:h-48 rounded-full object-cover
                            border-4 border-white/20 shadow-xl"
                   alt="Vista previa"
              />
              <div class="absolute inset-0 rounded-full bg-gradient-to-t from-black/20 to-transparent"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Columna 3: géneros musicales | botones -->
      <div class="space-y-6 flex flex-col justify-between">
        <!-- Géneros Musicales -->
        <div>
          <label class="block text-white text-lg font-semibold mb-2">Géneros Musicales</label>
          <div class="bg-gray-200 rounded-lg p-4 max-h-52 overflow-auto">
            <div *ngFor="let genero of generosMusicales">
              <label class="inline-flex items-center space-x-2">
                <input
                  type="checkbox"
                  [value]="genero.id"
                  (change)="onCheckboxChange($event)"
                  [checked]="registroArtistaForm.get('generosMusicales')?.value.includes(genero.id)"
                  class="form-checkbox text-gray-600 h-5 w-5"
                />
                <span class="text-gray-800">{{ genero.nombre }}</span>
              </label>
            </div>
          </div>
        </div>

        <!-- Botón de guardar/registrar -->
        <button
          type="submit"
          [disabled]="!canSave"
          [class]="!canSave ?
        'w-full bg-gray-400 text-gray-600 py-3 rounded-full text-lg font-semibold cursor-not-allowed opacity-50 transition duration-300' :
        'w-full bg-customGrisOscurso hover:bg-gray-500 text-white py-3 rounded-full text-lg font-semibold transition duration-300 cursor-pointer'"
        >
          {{ loading ? 'Guardando...' : perfilCompleto ? 'Guardar Cambios' : 'Registrarse' }}
        </button>

        <!-- Botón de SALIR -->
        <button
          *ngIf="esEdicion"
          type="button"
          class="w-full bg-gray-500 hover:bg-gray-700 text-white py-3 rounded-full text-lg font-semibold transition duration-300"
          (click)="router.navigate(['admin-artista'])"
        >
          Salir
        </button>
      </div>

    </form>

  </div>
</div>

<!-- Modal de éxito -->
<div *ngIf="isOpen" class="fixed inset-0 p-4 flex flex-wrap justify-center items-center w-full h-full z-[1000] bg-black bg-opacity-50 overflow-auto">
  <div class="w-full max-w-lg bg-white shadow-lg rounded-lg p-6 relative">
    <svg (click)="closeModal()" xmlns="http://www.w3.org/2000/svg"
         class="w-3.5 h-3.5 cursor-pointer shrink-0 fill-gray-400 hover:fill-red-500 float-right"
         viewBox="0 0 320.591 320.591">
      <path d="M30.391 318.583a30.37 30.37 0 0 1-21.56-7.288c-11.774-11.844-11.774-30.973 0-42.817L266.643 10.665c12.246-11.459 31.462-10.822 42.921 1.424 10.362 11.074 10.966 28.095 1.414 39.875L51.647 311.295a30.366 30.366 0 0 1-21.256 7.288z" />
      <path d="M287.9 318.583a30.37 30.37 0 0 1-21.257-8.806L8.83 51.963C-2.078 39.225-.595 20.055 12.143 9.146c11.369-9.736 28.136-9.736 39.504 0l259.331 257.813c12.243 11.462 12.876 30.679 1.414 42.922-.456.487-.927.958-1.414 1.414a30.368 30.368 0 0 1-23.078 7.288z" />
    </svg>
    <div class="my-10 text-center">
      <h4 class="text-xl text-slate-900 font-semibold mt-4">¡Perfil registrado!</h4>
      <p class="text-sm text-slate-500 leading-relaxed mt-4">
        Serás redirigido automáticamente en {{ cuentaAtrasModal }} segundos...
      </p>
    </div>

    <button (click)="closeModal()" type="button"
            class="px-5 py-2.5 w-full rounded-lg text-white text-sm font-medium bg-gray-800 hover:bg-gray-700">
      Entendido
    </button>
  </div>
</div>
